.titleCamera {
  font-size: 24px;
  font-weight: bold;
}
.edit-button {
  color: #1677ff;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}
.delete-button {
  color: red;
  font-size: 16px;
  cursor: pointer;
}
.add-button {
  color: green;
  font-size: 26px;
  cursor: pointer;
}
